.contact_me_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 1rem 0rem; */
}
.contact_header_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  padding: 0.5rem 0rem;
}

.contact_me_section {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
}

.contact_me_description_section {
}

.contact_header_section div {
  padding: 0.5rem 0rem;
}

.contact_body_section {
  padding: 0.5rem 0rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* /* align-items: left; */
  background-color: yellow;
  padding: 1rem 1rem;
}

/* .form_label_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* 
.form_container label {
  margin: 1rem 0rem;
} */

.form_input_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_input_section input {
  /* padding: 0.5rem; */
  margin: 0.5rem 0rem;
}
